
.launch-details-page{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
}

.launch-details-page a{
    width: fit-content;
    text-decoration: none;
    background-color: #1b75cf;
    font-size: 1.6rem;
    color: white;
    padding: 1rem 3rem;
    border-radius: 0.5rem;
    font-weight: 500;

}