
.message{
    font-size: 2rem;
    font-weight: bold;
    padding: 2rem;
    color: black;
    width: 100%;
    box-sizing: border-box;
}

.success{
    background-color: rgb(229, 255, 190);
}

.error{
    background-color: rgb(255, 203, 203);
}